DJANGO_SECRET_KEY=gere-uma-chave-secreta-para-este-ambiente
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

POSTGRES_DB=pet_feeder
POSTGRES_USER=petpaparico
POSTGRES_PASSWORD=troque-esta-senha
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432